* {
  /* colors */
  --color-background: hsl(0,0%,0%);
  --color-cardstock: hsl(0,0%,12%);
  --color-card-back: hsl(0,0%,20%);
  --color-spade: hsl(190, 100%, 40%);
  --color-heart: hsl(32, 100%, 45%);
  --color-club: hsl(190, 100%, 40%);
  --color-diamond: hsl(32, 100%, 45%);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body {
  background-color: var(--color-background);
}

svg * {
  overflow: visible;
  user-select: none;
}

use[href="#card"] {
  /* set defaults */
  --color-card-suit: var(--color-card-back);
  --display-spade: none;
  --display-heart: none;
  --display-club: none;
  --display-diamond: none;
  --display-A: none;
  --display-2: none;
  --display-3: none;
  --display-4: none;
  --display-5: none;
  --display-6: none;
  --display-7: none;
  --display-8: none;
  --display-9: none;
  --display-10: none;
  --display-J: none;
  --display-Q: none;
  --display-K: none;
}

use[href="#card"][data-face="down"] {
  --display-face: none;
  --display-back: initial;
}
use[href="#card"][data-face="up"] {
  cursor: grab;
  --display-face: initial;
  --display-back: none;
}
use[href="#card"][data-face="up"]:active {
  cursor: grabbing;
}

use[href="#card"][data-suit="spade"] {
  --color-card-suit: var(--color-spade);
  --display-spade: initial;
}
use[href="#card"][data-suit="heart"] {
  --color-card-suit: var(--color-heart);
  --display-heart: initial;
}
use[href="#card"][data-suit="club"] {
  --color-card-suit: var(--color-club);
  --display-club: initial;
}
use[href="#card"][data-suit="diamond"] {
  --color-card-suit: var(--color-diamond);
  --display-diamond: initial;
}

use[href="#card"][data-value="A"] {
  --display-A: initial;
}
use[href="#card"][data-value="2"] {
  --display-2: initial;
}
use[href="#card"][data-value="3"] {
  --display-3: initial;
}
use[href="#card"][data-value="4"] {
  --display-4: initial;
}
use[href="#card"][data-value="5"] {
  --display-5: initial;
}
use[href="#card"][data-value="6"] {
  --display-6: initial;
}
use[href="#card"][data-value="7"] {
  --display-7: initial;
}
use[href="#card"][data-value="8"] {
  --display-8: initial;
}
use[href="#card"][data-value="9"] {
  --display-9: initial;
}
use[href="#card"][data-value="10"] {
  --display-10: initial;
}
use[href="#card"][data-value="J"] {
  --display-J: initial;
}
use[href="#card"][data-value="Q"] {
  --display-Q: initial;
}
use[href="#card"][data-value="K"] {
  --display-K: initial;
}

use[href="#spade"] {
  display: var(--display-spade);
}
use[href="#heart"] {
  display: var(--display-heart);
}
use[href="#club"] {
  display: var(--display-club);
}
use[href="#diamond"] {
  display: var(--display-diamond);
}

use[href="#card-value-A"] {
  display: var(--display-A);
}
use[href="#card-value-2"] {
  display: var(--display-2);
}
use[href="#card-value-3"] {
  display: var(--display-3);
}
use[href="#card-value-4"] {
  display: var(--display-4);
}
use[href="#card-value-5"] {
  display: var(--display-5);
}
use[href="#card-value-6"] {
  display: var(--display-6);
}
use[href="#card-value-7"] {
  display: var(--display-7);
}
use[href="#card-value-8"] {
  display: var(--display-8);
}
use[href="#card-value-9"] {
  display: var(--display-9);
}
use[href="#card-value-10"] {
  display: var(--display-10);
}
use[href="#card-value-J"] {
  display: var(--display-J);
}
use[href="#card-value-Q"] {
  display: var(--display-Q);
}
use[href="#card-value-K"] {
  display: var(--display-K);
}

.cardstock {
  fill: var(--color-cardstock);
  stroke: none;
  filter: url(#shadow);
}
.card-border {
  fill: none;
}
.card-face {
  display: var(--display-face);
  fill: var(--color-card-suit);
  stroke: var(--color-card-suit);
}
.card-back {
  display: var(--display-back);
  fill: var(--color-card-back);
  stroke: var(--color-card-back);
}
