@font-face {
  font-family: "Noto Serif JP";
  src: url(NotoSerifJP-Black.otf);
}

* {
  box-sizing: border-box;
  user-select: none;

  /* colors */
  --color-background: hsl(0,0%,0%);
  --color-cardstock: hsl(0,0%,12%);
  --color-card-detail: hsl(0,0%,20%);

  /* fonts */
  --font-family-text: "Noto Serif JP", serif;
  --font-family-suits: "Noto Serif JP", serif;
  --font-size-index-value: 3.5vw;
  --font-size-index-suit: 3.5vw;
  --font-size-pip: 9.5vw;

  /* dimensions */
  --column-quantity: 7;
  --cell-gap: 0.7vw;
  --card-width: calc((100vw - (var(--cell-gap) * (var(--column-quantity) + 1))) / var(--column-quantity));
  --border-width: 0.42vw;
  --card-round: 1.5vw;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: var(--color-background);
}
div {
  margin: 0;
  padding: 0;
}

#grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(var(--column-quantity), 1fr);
  gap: var(--cell-gap);
  padding: var(--cell-gap);
}

.cell {
  position: relative;
  width: var(--card-width);
  aspect-ratio: 5/7;
  background-color: none;
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-cardstock);
  border-radius: var(--card-round);
  color: var(--color-cardstock);
}

.card {
  position: absolute;
  width: var(--card-width);
  aspect-ratio: 5/7;
  background-color: var(--color-cardstock);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-card-detail);
  border-radius: var(--card-round);
  color: var(--color-card-detail);
  transition: transform 0.05s;
  cursor: grab;
}
.card:active{
  cursor: grabbing;
}
.index-value {
  position: absolute;
  left: 0;
  text-align: left;
  padding-left: 5%;
  width: 30%;
  font-family: var(--font-family-text);
  font-size: var(--font-size-index-value);
  line-height: 1.2;
}
.index-suit {
  position: absolute;
  right: 0;
  text-align: center;
  width: 32%;
  height: var(width);
  font-family: var(--font-family-suits);
  font-size: var(--font-size-index-suit);
  line-height: 1.2;
}
.pip {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: var(--font-family-suits);
  font-size: var(--font-size-pip);
}
